{% extends "base.html" %}
{% block top_headines %}

    <h1 class="text-center mt-4 mb-5">Top Headlines</h1>
    <div class="row mt-5">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="row">
                {% for news in news_articles %}
                <div class="col-md-4 mb-5">
                    <div class="card" style="width: 18rem">
                        {% if news.url_to_image %}
                        <img src="{{ news.url_to_image}}" class="card-img-top" alt="..." />
                        {% else %}
                        <img src="https://img.freepik.com/free-vector/3d-newspaper-icons-set-isolated-white_107791-15234.jpg?w=2000&t=st=1689242875~exp=1689243475~hmac=9da22d1a1c2761bbb9cff4c9a7c3b3370a08c3d2a1bdd0f032aec3d3434fd33a"
                         class="card-img-top" alt="..." />
                         {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ news.title }}</h5>
                            <p class="card-text">{{ news.description }}</p>
                            <a href="{{ news.url }}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    {% endblock %}